# Ignore the .env file
.env

# Ignore the node_modules folder
node_modules/

# Ignore the push-script.bat file (script to push into GitHub repository)
push-script.bat

# Ignore the file of testing
test.js

# Ignore the folde that contains the reports
out/