<!DOCTYPE html>
<html>
  <head>
    <style>
      div {
        margin: 0 auto;
      }

      div:first-child {
        width: 1000px;
        position: relative;
        top: 50px;
      }

      button {
        border: none;
        color: white;
        padding: 8px;
        border-radius: 15px;
        margin: 0px 10px;
        font-weight: bold;  
        cursor: pointer;
      }

      button:nth-child(1) {
        background-color: red;
      }

      button:nth-child(2) {
        background-color: green;
      }

      button:nth-child(3) {
        background-color: blue;
      }

      button:nth-child(4) {
        background-color: gold;
      }
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});

      function displayChart1(apiUrl, options) {
        fetch(apiUrl, options)
        .then((response) => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json(); 
        })
        .then((data) => {
            var res = google.visualization.arrayToDataTable([
                ['Stars', 'Number of users', { role: 'style' }],
                ['1', data["1"], 'red'],
                ['2', data["2"], 'green'],
                ['3', data["3"], 'yellow'],
                ['4', data["4"], 'blue'],
                ['5', data["5"], 'pink']
            ]);
            var options = {
                title: 'Users Disribution based on Rating'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(res, options);
            })
        .catch((error) => {
            console.error('Fetch error:', error);
        });
      } 

      function displayChart2(apiUrl, options) {
        fetch(apiUrl, options)
        .then((response) => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json(); 
        })
        .then((data) => {
            var res = google.visualization.arrayToDataTable([
                ['Time', 'Number of users', { role: 'style' }],
                ['today', data["envData"]["today"], 'red'],
                ['last week', data["envData"]["lastWeek"], 'green'],
                ['last month', data["envData"]["lastMonth"], 'yellow'],
                ['last year', data["envData"]["lastYear"], 'blue'],
            ]);
            var options = {
                title: 'Records Dirstribution based on time'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(res, options);
            })
        .catch((error) => {
            console.error('Fetch error:', error);
        });
      }

      function displayChart3(apiUrl, options) { 
        fetch(apiUrl,options)
        .then((response) => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json(); 
        })
        .then((data) => {
            var res = google.visualization.arrayToDataTable([
                ['Type', 'Count', { role: 'style' }],
                ['resources', data["resourceData"]["lastYear"], 'red'],
                ['issues', data["issueData"]["lastYear"], 'green']
            ]);
            var options = {
                title: 'Issues vs. Resources last year'
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('piechart'));

            chart.draw(res, options);
            })
        .catch((error) => {
            console.error('Fetch error:', error);
        });
      }

      function displayChart4(apiUrl, options) {
        fetch(apiUrl, options)
        .then((response) => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json(); 
        })
        .then((data) => {
            var res = google.visualization.arrayToDataTable([
                ['Starts', 'Score', { role: 'style' }],
                [data[0]["username"], data[0]["score"], 'red'],
                [data[1]["username"], data[1]["score"], 'green'],
                [data[2]["username"], data[2]["score"], 'blue']
            ]);
            var options = {
                title: 'Top Scored Users'
            };

            var chart = new google.visualization.LineChart(document.getElementById('piechart'));

            chart.draw(res, options);
            })
        .catch((error) => {
            console.error('Fetch error:', error);
        });
      }

    </script>
  </head>
  <body>
    <div>
      <button id="btn1"> Users Disribution based on Rating </button>
      <button id="btn2"> Records Dirstribution based on time </button>
      <button id="btn3"> Issues vs. Resources last year </button>
      <button id="btn4"> Top Scored Users </button>
    </div>

    <div class="div-chart" id="piechart" style="width: 900px; height: 500px;"></div>

  </body>

  <script>
    const btn1 = document.getElementById("btn1");
    const btn2 = document.getElementById("btn2");
    const btn3 = document.getElementById("btn3");
    const btn4 = document.getElementById("btn4");

    const div = document.getElementById("piechart");

    const options = {
        method: 'GET', 
        headers: {
        'Content-Type': 'application/json'
        }
    };

    btn1.addEventListener("click", () => {
      let apiUrl = 'http://localhost:3000/profile/rating/classes';
      displayChart1(apiUrl, options);
    });

    btn2.addEventListener("click", () => {
      let apiUrl = 'http://localhost:3000/stats/time';
      displayChart2(apiUrl, options);
    });

    btn3.addEventListener("click", () => {
      let apiUrl = 'http://localhost:3000/stats/time';
      displayChart3(apiUrl, options);
    });

    btn4.addEventListener("click", () => {
      let apiUrl = 'http://localhost:3000/stats/score';
      displayChart4(apiUrl, options);
    });
  </script>
</html>